Just a quick test to veify I can install my new package

In [2]:
pip install -i https://test.pypi.org/simple/ lambdata-jpeone-pt4==1.0

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-jpeone-pt4==1.0 in /home/felix/projects/school/unit_3/lambdata-jpeone-pt4 (1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from lambdata.my_mod import tocol

df = pd.DataFrame({'x': [1, 2, 3], 'y': [4, 5, 6]})

df3 = tocol(df, [7, 8, 9], 'z')

df3

   x  y  z
0  1  4  7
1  2  5  8
2  3  6  9